<title><%= title %></title>

<link rel="stylesheet" href="/css/main.css?<%= version %>"/>
<script type="text/javascript" src="/js/main.js?<%= version %>"></script>
<link rel="icon" type="image/x-icon" href="favicon.ico?<%= version %>"/>
