<!DOCTYPE html>
<html>
<head>
    <title>Synonym</title>

    <link rel="stylesheet" href="/css/main.css?<%= version %>"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico?<%= version %>"/>

</head>
<body>

<div id="greeter">
    Welcome to <a href="https://github.com/emirpasic/qam">qam</a>
</div>

<script type="text/javascript" src="/js/main.js?<%= version %>"></script>
</body>
</html>
