<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<p>Page not found: <span style="color: red"><%= url %></span></p>

<% include ../partials/footer %>
</body>
</html>
